
body.dark figure.invertible img {
    filter: invert(0.875) hue-rotate(180deg);
}

body.dark img.invertible {
    filter: invert(0.875) hue-rotate(180deg);
}

.tikz-wrapper {
  display: flex;
  justify-content: center;   /* centers horizontally */
  align-items: center;       /* centers vertically if container has height */
  overflow: visible;
  margin-bottom: 1.0em;
}

body.dark .tikz-wrapper svg {
  filter: invert(0.875) hue-rotate(180deg);
}


/* TikZjax typically places an SVG immediately after the <script>.
   Target that SVG and scale it cleanly. */
.tikz-wrapper > script[type="text/tikz"] + svg,
.tikz-wrapper svg {
  transform: scale(1.50);            /* change scale factor here */
  transform-origin: center center;
  transform-box: fill-box;           /* ensures the origin is the SVG bbox */
  display: block;                    /* remove inline-baseline offsets */
}

.headerfooter {
    color: var(--tertiary);
    opacity: 0.5;
    text-align: center;
}

.signup-form {
    color: var(--tertiary);
    display: flex;
            justify-content: center;
            align-items: center;
            height: 13vh;
            margin: 0;
            text-align: center;
}

.post-entry {
    border: 1.4px solid var(--border);
    box-shadow: 0.5px 1.0px 0 0 var(--tertiary);
    transition: transform 0.03s;
}

.post-entry:active {
    transform: scale(0.98);
    box-shadow: 0.5px 1.0px 0 0 var(--border);
    border-bottom: 1px solid var(--tertiary);
}

/* Figures */
figure {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 80%;
}

figure figcaption {
    border: 5px 0px 5px 0px solid black;
    text-align: center;
    font-weight: normal;
}

/* Prevents jittery line heights due to superscripts */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    }
sub {
    top: 0.4em;
}