.post-content .equation-like {
    color: var(--content);
    padding: 0 2%;
    width:auto;
    display:table;
}

.post-content .tertiary {
    opacity: 0.5;
}

.post-content .accented {
    color: var(--accent);
}

.post-content .gray {
    color: var(--secondary);
}

.post-content aside {
    display: inline;
    width: 46%;
    margin: 0 0.75rem 0 -0.4rem ;
    padding: 0.8em 0.9em 0.0rem 0.9em;
    float: left;
    border-right: 1px solid var(--aside-border);
    font-style: italic;
    box-shadow: inset -0.1em 0.1em 0.2em 0 var(--darker), 0.2em 0.04em 0.5em 0.2em rgba(0,0,0,0.02);
    color: var(--secondary);
    border-radius: 25px;
    font-size: 0.95em;
    text-align: justify;
}

.post-content aside :not(b) {
    word-spacing: -1px;
}

.post-content aside.aside-right {
    margin: 0 -0.4rem 0 0.75rem ;
    float: right;
    border-right: 0 solid var(--aside-border);
    border-left: 1px solid var(--aside-border);
    box-shadow: inset 0.1em 0.1em 0.2em 0 var(--darker), -0.2em 0.04em 0.5em 0.2em rgba(0,0,0,0.02);
}

.post-content .print b {
    color: var(--secondary);
    font-weight: 500;
}

.post-content blockquote, .post-content .print {
    opacity: 0.9;
    font-family: 'IM Fell DW Pica', Times, serif;
    font-size: larger;
}

.post-content blockquote {
    max-width: 99.5%;
    margin: auto;
    padding: 0px 20px 0px 20px;
    border-inline-start: 2px solid var(--accent);
}
