.post-content .equation-like {
    color: var(--content);
    padding: 0 5%;
    width:auto;
    display:table;
}

.post-content .centred {
    color: var(--content);
    padding: 0 5%;
    width:auto;
    text-align: center;
}

.post-content .boxed {
    /* background-color: white; */
    border: 1px solid #ccc;
    text-align: center;
    /* top right bottom left */
    padding: 0.25rem 0.75rem 0.5rem 0.75rem;
    width: auto;
    border-radius: 2px;
    color: var(--primary);
    display: inline-block;
  }
  
  
.post-content .tertiary {
    opacity: 0.5;
}

.post-content .secondary {
    opacity: 0.7;
}

.post-content .accented {
    color: var(--accent);
}

.post-content .red {
    color: red;
}

.post-content .gray {
    color: var(--secondary);
}

.post-content h4{
    font-size: 1.1em;
}

.post-content aside {
    display: inline;
    width: 46%;
    margin: 0 0.95rem 0 -0.4rem ;
    padding: 0.8em 1.3em 0.0rem 1.3em;
    float: left;
    border-right: 1px solid var(--aside-border);
    border-bottom: 0.5px solid var(--aside-border-bottom);
    /* font-style: italic; */
    box-shadow: inset -0.1em 0.1em 0.2em 0 var(--darker), 0.2em 0.04em 0.5em 0.2em rgba(0,0,0,0.02);
    color: var(--secondary);
    border-radius: 25px;
    font-size: 0.90em;
    text-align: justify;
}

body.dark .post-content aside {
    /* border-left: 1.2px solid var(--aside-border); */
    border-color: rgba(49, 49, 49, 0.625);
    border-right: 0.5px solid rgba(38, 37, 38, 0.54);
    border-top: 0.8px solid rgba(47, 44, 46, 0.628);
    border-bottom: 0.5px solid rgba(42, 39, 41, 0.7);
    box-shadow: inset 0.1em 0.075em 0.5em 0.001em rgba(19, 12, 19, 0.895), -0.1em 0.05em 0.5em 0.05em rgba(35, 35, 35, 0.724);
    color: var(--secondary);
    border-radius: 25px;
    background-color: rgba(11, 11, 11, 0.307);
}

.post-content aside :not(b) {
    word-spacing: -1.0px;
}

.post-content aside.aside-right {
    margin: 0.5em -0.4rem 0.5em 0.75rem ;
    float: right;
    padding-bottom: 1em;
    border-right: 0 solid var(--aside-border);
    border-left: 1px solid var(--aside-border);
    box-shadow: inset 0.1em 0.1em 0.2em 0 var(--darker), -0.2em 0.04em 0.5em 0.2em rgba(0,0,0,0.02);
}

.post-content aside.aside-center {
    width: 102%;
    float: fit-content;
    margin-left: -0.5em;
    margin-right: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-right: 0 solid var(--aside-border);
    border-left: 1px solid var(--aside-border);
    padding-bottom: 1em;
    box-shadow: inset 0.1em 0.1em 0.2em 0 var(--darker), -0.2em 0.04em 0.5em 0.2em rgba(0,0,0,0.02);
}

.post-content .print b {
    color: var(--secondary);
    font-weight: 500;
}

.post-content blockquote, .post-content .print {
    opacity: 0.9;
    font-family: 'IM Fell DW Pica', Times, serif;
    font-size: 1.1em
}

.post-content blockquote {
    max-width: 99.5%;
    margin: auto;
    padding: 0px 20px 0px 20px;
    border-inline-start: 2px solid var(--accent);
}
