.post-content .equation-like {
    color: var(--content);
    padding: 0 5%;
    width:auto;
    display:table;
}

.post-content .centred {
    color: var(--content);
    padding: 0 5%;
    width:auto;
    text-align: center;
}

.post-content .tertiary {
    opacity: 0.5;
}

.post-content .accented {
    color: var(--accent);
}

.post-content .gray {
    color: var(--secondary);
}

.post-content h4{
    font-size: 1.1em;
}

.post-content aside {
    display: inline;
    width: 46%;
    margin: 0 0.95rem 0 -0.4rem ;
    padding: 0.8em 1.3em 0.0rem 1.3em;
    float: left;
    border-right: 1px solid var(--aside-border);
    border-bottom: 0.5px solid var(--aside-border-bottom);
    /* font-style: italic; */
    box-shadow: inset -0.1em 0.1em 0.2em 0 var(--darker), 0.2em 0.04em 0.5em 0.2em rgba(0,0,0,0.02);
    color: var(--secondary);
    border-radius: 25px;
    font-size: 0.90em;
    text-align: justify;
}

.post-content aside :not(b) {
    word-spacing: -1.0px;
}

.post-content aside.aside-right {
    margin: 0 -0.4rem 0 0.95rem ;
    float: right;
    padding-bottom: 1em;
    border-right: 0 solid var(--aside-border);
    border-left: 1px solid var(--aside-border);
    box-shadow: inset 0.1em 0.1em 0.2em 0 var(--darker), -0.2em 0.04em 0.5em 0.2em rgba(0,0,0,0.02);
}

.post-content aside.aside-center {
    width: 100%;
    float: fit-content;
    margin-bottom: 1.2em;
    border-right: 0 solid var(--aside-border);
    border-left: 1px solid var(--aside-border);
    padding-bottom: 1em;
    box-shadow: inset 0.1em 0.1em 0.2em 0 var(--darker), -0.2em 0.04em 0.5em 0.2em rgba(0,0,0,0.02);
}

.post-content .print b {
    color: var(--secondary);
    font-weight: 500;
}

.post-content blockquote, .post-content .print {
    opacity: 0.9;
    font-family: 'IM Fell DW Pica', Times, serif;
    font-size: 1.1em
}

.post-content blockquote {
    max-width: 99.5%;
    margin: auto;
    padding: 0px 20px 0px 20px;
    border-inline-start: 2px solid var(--accent);
}
