div#logo-s {
    margin: auto;
    width: min(35vw, 280px);
    min-width: 180px;
    overflow: hidden;
    opacity: 0;
}

div#logo-s svg .cls-black {
  /* Default logo fills: #2a2a2a, #8b0a4c, #ff51af */
  fill: url(#black-gradient);
  fill-rule: evenodd;
}


div#logo-s svg .cls-pink {
    fill: url(#pink-gradient);
    fill-rule: nonzero;
  }

div#logo-s svg .cls-darkpink {
    fill: url(#darkpink-gradient);
    fill-rule: nonzero;
}

#black-gradient {
    --color-1: #626464;
    --color-2: #171312;
}

.dark #black-gradient {
    --color-1: #090708;
    --color-2: #262525;
}

#darkpink-gradient {
    --color-1: #6a204a;
    --color-2: #c64e81;
}


#pink-gradient {
    --color-1: #db327e99;
    --color-2: #ff51af;
    --color-3: #fedeed;
    --color-4: #f9a1cc;
}

.dark #darkpink-gradient {
    --color-1: #5b193b;
    --color-2: #b41a6a;
}
.dark #pink-gradient {
    --color-1: #db327e99;
    --color-2: #ff51af;
    --color-3: #f19dca;
    --color-4: #f161ac;
}

div#logo-s svg {
    display: block;
    width: 100%;
    height: auto;
}

@keyframes cursor-blink {
    33% {
      opacity: 0;
    }
    66% {
        opacity: 1;
    }
  }

.entry-content-2::after {
    content: "";
    width: 1px;
    height: 1em;
    transform: translateY(0.1em) translateX(-0.25em);
    background: var(--primary);
    display: inline-block;
    animation: cursor-blink 1.1s steps(1) infinite;
}

.inline-link {
    display: inline-block;
    color: var(--accent);
}

video.inverted {
    filter: invert(1.0) hue-rotate(180deg) contrast(125%);
}

body.dark video.inverted {
    filter: contrast(117%) saturate(90%);
}