:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(254, 254, 254);
    --landing-page: rgb(240, 241, 241);
    --entry: rgb(251, 251, 251);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(122, 125, 124); /* Post entry blurb */
    --tertiary: rgb(195, 194, 194);  /* Post entry shadow */
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(224, 223, 223); /* ToC */
    --border: rgb(229, 228, 229);
    --accent: rgb(188, 10, 92);
    --accent-light: rgb(255, 122, 192); /* Lighter accent for hover states */
    --aside-border: rgb(255, 255, 255);
    --aside-border-bottom: var(--code-bg);
    --darker: rgb(203, 198, 195); /* The shadow for asides */
}

.dark {
    --theme: rgb(7, 7, 7);
    --entry: rgb(18, 19, 18);
    --primary: rgb(229, 229, 229);
    --secondary: rgb(125, 126, 125);
    --tertiary: rgb(50, 51, 58);
    --content: rgb(204, 204, 205);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(27, 27, 30);
    --accent: rgb(251, 152, 204);
    --accent-light: rgb(255, 122, 192); /* Lighter accent for hover states */
    --aside-border: rgb(62, 61, 68);
    --aside-border-bottom: var(--aside-border);
    --darker: rgb(21, 17, 18);
    --landing-page: rgb(15, 16, 14);
}

.list {
    background: var(--landing-page);
}
