{{- with site.Params.homeInfoParams }}

{{- $logo := resources.Get "js/logo.js" | minify | fingerprint -}}
<script type="application/javascript" src="{{ $logo.Permalink }}"></script>

<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <!-- <div class="entry-content">
        {{ .Content | markdownify }}
    </div> -->
    <div id=logo-s>
        <div id=svg-rotator>
            {{- partial "logo_svg.html" . }}      
        </div>    
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
    <div class="entry-content-2">
        Welcome to my recreational mathematics blog. 
        <br>
        Please go <a href="/tags/general/" class=inline-link>here</a> to find content written with a general audience in mind.
    </div>
</article>
{{- end -}}
